### C/C++ files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

### CMake files/directories
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CMake dependencies directory
_deps

# CMake user presets
CMakeUserPresets.json

### Miscellaneous
# log files
*.log

# build files
build
build.log

# install directory
installs

# VSCode configuration directory
.vscode

# clangd cache and configuration files
.cache
.clangd

# Doxygen generated documentation
docs/doxygen
